@model LinkBuyLibrary.Models.Categoria

@{
    ViewData["Title"] = "excluir categoria";
}
@if (ViewData["MensagemErro"] != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100; margin-top:45px;">
        <div id="Toast" class="toast align-items-center bg-danger text-white border-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000" data-bs-autohide="true">
            <div class="d-flex">
                <div class="toast-body">
                    @ViewData["MensagemErro"]
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card  o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <h3 class="text-center" style="margin-bottom:25px; color:#6a0dac">Tem certeza que deseja excluir a categoria?</h3>
                <div class="row justify-content-center">
                    <div class="col-md-6">

                        <table class="table table-dark table-striped-columns">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descricao)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Model.Descricao
                                    </td>
                                    <td>
                                        <form asp-action="Delete">
                                            <input type="hidden" asp-for="Id" />
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fas fa-trash-alt" style="margin-right: 5px;"></i>
                                                Excluir
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="user">
    <a class="btn btn-user" style="background-color:#6a0dac !important; color:white;" asp-action="Index"> <span><i class="fas fa-arrow-left"></i></span>  Lista de categorias</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


